
{% block content %}
    <h2>Product List</h2>
    <a href="{% url 'product_create' %}">Add New Product</a>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">{{ product.label }}</a> - {{ product.price }} USD
            </li>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}